.loadingIndicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 9999;

  &-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      display: block;
      width: 58px;
      height: 58px;
    }
  }
}

svg path,
svg rect {
  fill: #ff6700;
}
